<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Pessoas</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Pessoas</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>RG</th>
							<th>Telefone</th>
							<th>E-mail</th>
							<th>Endereço</th>
							<th>Número</th>
							<th>Cep</th>
							<th>Logradouro</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th>Pais</th>
							<th>PersonId</th>
							<th>Foto</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pessoa : ${pessoa}">
							<td th:text="${pessoa.id}"></td>
							<td th:text="${pessoa.nome}"></td>
							<td th:text="${pessoa.cpf}"></td>
							<td th:text="${pessoa.rg}"></td>
							<td th:text="${pessoa.telefoneresidencial}"></td>
							<td th:text="${pessoa.email}"></td>
							<td th:text="${pessoa.endereco.endereco}"></td>
							<td th:text="${pessoa.endereco.numero}"></td>
							<td th:text="${pessoa.endereco.cep}"></td>
							<td th:text="${pessoa.endereco.logradouro}"></td>
							<td th:text="${pessoa.endereco.bairro}"></td>
							<td th:text="${pessoa.endereco.cidade}"></td>
							<td th:text="${pessoa.endereco.estado}"></td>
							<td th:text="${pessoa.endereco.pais}"></td>	
							<td th:text="${pessoa.personId}"></td>
							<td><img alt="img" src="data:image/jpg;base64,${pessoa.imagemPath}"/></td>
						
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${pessoa.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${pessoa.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/save/}" >Adicionar</a>
			<a class="btn pull-right btn-sm btn-success" th:href="@{/reconhecimento/}" >Reconhecimento Facial</a>
		</div>
	</div>
</body>
</html>