<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Pessoas Identificadas</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Pessoas Identificadas</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>Nivel de confiança</th>
							<th>Foto</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pessoasIdentificadas : ${pessoasIdentificadas}">
							<td th:text="${pessoasIdentificadas.id}"></td>
							<td th:text="${pessoasIdentificadas.nome}"></td>
							<td th:text="${pessoasIdentificadas.cpf}"></td>
							<td th:text="${pessoasIdentificadas.confianca}"> %</td>
							<td><img th:src="@{/image/{imagem_id}(imagem_id=${pessoasIdentificadas.id})}" height="100" width="100" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a th:href="@{/}" class="btn btn-sm btn-default">Inicio</a>
			<a th:href="@{/reconhecimento/}" class="btn btn-sm btn-default">Voltar</a>
		</div>
	</div>
</body>
</html>